// @author atiq/noon
.box-body {
    padding: 0 10%;
}

.circle {
    @include border-radius(60px);
    margin: 0 auto;
    height: 100px;
    width: 100px;
    text-align: center;  
}

.header {
    padding-top: 130px;
    padding-bottom: 10px;
    text-align:  center;

}

.navbar {
    background: #ffffff;
    letter-spacing: 0.5px;
    padding: 10px 0;
    border: none;
    border-bottom: 2px solid #00BCD4;

    @include border-radius(0);
    @include box-shadow(0px 3px 5px 0px rgba(10, 39, 60, 0.11));

    .anchorTheme {
        color: #ec5447;
        background-color: transparent;
    }

    .fa {
        color: #ec5447;
    }

    .navbar-nav {
        > li > a {
            color: #00BCD4;
            &:hover, &:focus {
                @extend .anchorTheme;   
            }
        }
    }    
    
    .navbar-brand {
        color: #00BCD4;

        > img:hover {
            @include animation(rotateIn 1s forwards);
        }
        
        &:focus, &:hover {
            @extend .anchorTheme; 
        }
    }
    
}



@media screen and (max-width: 992px) {
    
    .rectangle {                

        .rs-container {
            padding: 35px 60px 0;
        }

        .rectangle-mid .rs-container {
            padding-top: 0;
        }

        .rectangle-bot  {
            .rs-container {
                padding: 0px 40px;
            }
            h3 {
                font-size: 13px;
            }
        }

        .rectangle-footer  .footer-mid .rs-container {
            padding: 15px 60px;        
        }

        span, p {
            font-size: 13px;
        }  
        
        .rs-header > h1 {
            font-size: 35px;
        }
    }

}

@media screen and (max-width: 768px) {
    
    .rectangle {        
        
        .rs-container {
            padding: 35px 30px 0;
        }

        .rectangle-mid {
            hr {
                margin-top: 5%;
            }           
        }

        .rectangle-bot  {
            .rs-container {
                padding: 0px 40px;
            }
            h3 {
                font-size: 12px;
            }
        }

        .rectangle-footer {
            .footer-mid .rs-container {
                padding: 15px 30px;   
            }   
            .footer-bot {
                .footer-header {
                    padding: 0 0 8%;
                }
                .rs-container {
                    padding-bottom: 20px;
                }
            }  
        }

        span, p {
            font-size: 11px;
        }  
        
        .rs-header > h1 {
            font-size: 30px;
        }

        h4 {
            text-align: center;
        }

        h3 {
            font-size: 18px;
        }

        h2 {
            font-size: 20px;
        }

        .rs-row, .panel {
            text-align:center;
        }

        .rs-col {
            width: inherit;
        }
    }

}

@media screen and (max-width: 580px) {
    .rectangle {
        .rectangle-top {
            .rs-navbar .rs-nav {
                margin: 0;
                float: none;
            }                  
        }
    }
}