/**********************************
|***** Redstamp Customizations ****
|*********************************/
// By: Noon/Atiq

#th {
    font-family: 'TiemposHeadline';
    font-weight: 600;
}

#tt {
    font-family: 'TiemposText';
    
}

#as {
    font-family: 'AlrightSans';
    font-weight: 600;
    font-size: 18px;
}

span {
    color: #85939e
}

.rs-container {
    padding: 35px 100px 0;
}

.rs-row {
    margin-top: 10%;

    &:after {
        display: block;
        content: "";
        clear: both;
    }
}

.rs-col{
    position: relative;
    min-height: 1px;
    float: left;    
    width: calc(100% / 2);  
}

.rs-header {
    text-align: left;
    letter-spacing: -0.4px;      
    > h1 {
        font-family: 'TiemposText';
        font-size: 44px;        
    }
}

.rs-sub-heading {
    text-align:center; 
    margin: 7% 0;
}

.rs-text {
    height: 34px;
    font-family: 'AlrightSans';
    font-size: 14px;
    line-height: 1.21;
    text-align: left;
    color: #85939e;     
}

.rs-navbar {

    .rs-nav-header {
        float: left;
    }

    .rs-navbar li {
        
    }
       
    .rs-nav {
        list-style: none;
        float: right;
        padding: 0;

        > li {
            float: left;

            > a {
                color: #ec5447;
                text-decoration: none;
                &:hover {
                    color: #00BCD4;
                }
            }
        }
    }
}

.rs-clearfix::after {
    display: block;
    content: "";
    clear: both;
}

/**********************************
|********* Rectangle  *************
|*********************************/

.rectangle {
    background: white;
    margin: 5% 20%;
    box-shadow: 0 0 10px 9px rgba(0, 0, 0, 0.19);

    h4 {
        margin: 0 0 10px;
        height: 13px;
        font-family: AlrightSans;
        font-size: 11px;
        font-weight: bold;
        color: #60cbe2;
    }

    h3 {
        margin-top: 0;
    }

    p {
        color: #85939e;
    }

    a {
        &:hover {
            color: #60cbe2;
        }
    } 

    .col-md-2, .col-sm-2 {
        padding:0;
    }
    
    /**********************************
    |********* Rectangle Top **********
    |*********************************/

    .rectangle-top {

        .rs-navbar {                                 
            .rs-nav {
                margin: 8px 0 0;
            }
        }        
                    
    }

    /**********************************
    |********* Rectangle Mid **********
    |*********************************/

    .rectangle-mid {
        background-color: #f7f8f9;
        padding-bottom: 10px;
                
        .rs-row {
            padding: 10% 5%;
            margin: 0;
            background: white;
            margin-bottom: 5%;                       
        }

        .rs-container {
            padding-top: 0;
        }

        .rs-col {            
            width: 25%;
        }

        hr {
            margin-top: 15%;
            width: 64px;
            height: 1px;
            opacity: 0.47;
            background-color: #85939e;
        }

        .tips {
            border: 1px solid #eee;

            .col-md-2, .col-sm-2 {
                margin-left: -5px;
                margin-right: 5px;
            }
            
            
        }

        .rs-row.tips {
            padding: 6% 5%;
        }
    }

    /**********************************
    |********* Rectangle Bot **********
    |*********************************/
    
    .rectangle-bot {
        background-color: #f7f8f9;
        border-top: 1px solid #ddd;

        h3 {
            font-size: 16px;
        }

        .rs-container {
            padding: 0 100px;             
        }

        .panel {           
            border: 1px solid #eee;
            @include border-radius(0);

            .panel-body {
                padding: 15px;
            }

        }                
    }

    .rectangle-footer {
      
        .footer-top {
            text-align:center;
            padding: 3%;
            background-color: #ec5447;
            p { color: #e6e6e6; margin: 0; }
            a { color: #fff }
        }

        .footer-mid {
            border-bottom: 1px solid #eee;
            
            .rs-container {
                padding: 15px 100px;
            }

            .rs-navbar {
                .rs-nav-header {                
                    margin-top: 8px;                    
                }
                .rs-nav {
                    > ul {
                        margin-bottom: 0;
                    }                    
                    > li {
                        text-align: center;
                        background: #f1f1f1;
                        border-radius: 60px;
                        height: 35px;
                        width: 35px;
                        margin: 0 5px;
                        cursor: pointer;
                        &:hover {
                            .fa {                                
                                color: #ec5447;                                
                            }
                        }
                    }
                }
            }

            .fa {
                line-height: 2.5;
                font-size: 15px;
                color: white;
                @include transition(all 0.3s ease-in-out);                
            }

        }

        .footer-bot {
            
            .footer-header {
                padding: 0 5% 8%;
            }
            
            a {
                font-family: AlrightSans;
                letter-spacing: 0.5px;
                color: #0a273c;
                text-decoration:none;
                &:hover {
                    color: #ec5447;    
                }
            }

            @media screen and (min-width: 992px) {
                .footer-header {
                    padding: 0 20% 8%;                
                }
            }
        }
        
    }
}





